@page "/shoppinglist/{ListId:int}"
@using ShoppingList.Data;
@using ShoppingList.Models
@inject NavigationManager NavigationManager
@inject IListService ListService

<h2>@lista</h2>
<EditForm Model="Item" OnSubmit="handleItemSubmit">
    <InputText @bind-Value="item.Name" />
    <button type="submit">Submit</button>
</EditForm>

@code {
    [Parameter] public int ListId { get; set; }
    private List<Lista> lista = new();
    private Item item = new();

    protected override async Task OnInitializedAsync()
    {
        var lista = await ListService.LoadOneList(ListId);
    }

    async Task handleItemSubmit() {

    }
}
